<html>
  <head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link href="chat.css" rel="stylesheet"> -->
    <title>Tailwind chat</title>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
